extends layout

block append head
    title= title
    link(rel='stylesheet', href='/highlight/styles/monokai-sublime.css')
    script(src='/highlight/highlight.pack.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/index.js')
    script(type='text/javascript').
        hljs.initHighlightingOnLoad();


block content
  .container
      .alert.alert-danger 需要选择要执行的测试案例
      form(method='POST' action='/start' enctype='application/x-www-form-urlencoded' )
        .row.table-inverse.itemWrap
            .col #
            .col 文件名
            .col 操作
            .col
                label 全选
                  input.selectAll(type='checkbox' name="type" value="all")


        each file, index in files
            .item
                .row.itemWrap
                    .col #{index}
                    .col #{file.fileName}

                    .col
                       a(onclick='showCode(this)') 查看代码
                    .col
                       .form-check
                          label.form-check-label
                            input(type='checkbox', name='case',value=`${file.fileName}` data-val= JSON.stringify(file))

                .row
                    .codeWrap
                       pre
                         code.javascript #{file.code}



        .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        .modal-title(id="exampleModalLabel") 配置个多条案例的信息吧
                            button.close(data-dismiss="modal" aria-label="Close")
                                .span(aria-hidden="true") &times;
                    .modal-body



        .row
            button.btn.btn-success.btn-block(onclick='start(event)') 开始测试
