extends layout

block append head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/start.js')
block content
  .container
      .alert.alert-danger

      .progress
              .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
      .enable
         h3 当前可用设备:
         .row.table-inverse.itemWrap
               .col 设备系统
               .col 设备udid
               .col 操作
         form
         input(type='hidden' name='platform')
         each device, index in devices

            .item
            .row.itemWrap
              .col #{index}
              .col #{device}
              .col
                    input(type='radio' name='udid' value =`${device}` data-platform=`${index}`)

         .row
            button.btn.btn-success.btn-block(onclick='mocha(event)') 提交





